@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">QuizTopics</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <AuthorizeView>
        <Authorized>
            <button class="list-group-item list-group-item-action bg-light"
                    @onclick="this.BeginSignOut">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Log out
            </button>
        </Authorized>
        <NotAuthorized>
            <NavLink class="list-group-item list-group-item-action bg-light"
                     href="authentication/login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Log in
            </NavLink>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    [Inject]
    NavigationManager NavigationManager { get; set; }

    [Inject]
    SignOutSessionStateManager SignOutManager { get; set; }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        NavigationManager.NavigateTo("authentication/logout");
    }
}
