@page "/postdata"
@using QuizTopics.Candidate.Wasm.Services

<h1>Post data to API</h1>

<button class="btn btn-primary" @onclick="PostTestDataAsync">Post Test</button>

@code
{
    [Inject] private ITestDataService TestDataService { get; set; }

    private async Task PostTestDataAsync()
    {
        await this.TestDataService.AddTestAsync().ConfigureAwait(true);
    }
}
