@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inherits SelectQuizBase

<div>
    <p>Welcome to Spain Avanade's New Candidate quizzes.</p>
    <strong> Select a quiz to evaluate your level.</strong>
</div>
<Row>
    <Column ColumnSize="ColumnSize.Is8">
        <div class="input-group mb-1">
            <SelectList TItem="QuizViewModel"
                        Class="form-control"
                        TValue="Guid"
                        Data="this.QuizViewModelCollection"
                        TextField="model => model.Description"
                        ValueField="model => model.Id"
                        SelectedValueChanged="this.OnSelectedValueChanged"
                        DefaultItemText=""/>
            <div class="input-group-append">
                <Button Class="@this.ButtonClass" Clicked="this.SelectAsync">Select</Button>
            </div>
        </div>
    </Column>
</Row>

<Condition Evaluation="this.StartEnabled">
    <Match>
        <Row>
            <Column ColumnSize="ColumnSize.Is8" Style="margin-top:10px;">
                <Alert Color="Color.Warning" Visible="true">
                    <p>You are about to start the quiz: @this.ExamName</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, 
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker 
                        including versions of Lorem Ipsum</p>
                    <div class="text-right">
                        <Button Size="Size.ExtraLarge" Color="Color.Success" Clicked="OnStartAsync">Start</Button>
                    </div>
                </Alert>
            </Column>
        </Row>
    </Match>
</Condition>
