<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">QuizTopics.Candidate.Wasm</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <AuthorizeView>
        <Authorized>
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
            </ul>
        </Authorized>
        <NotAuthorized>
            <NavLink class="list-group-item list-group-item-action bg-light"
                     href="authentication/login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Log in
            </NavLink>
            <NavLink class="list-group-item list-group-item-action bg-light"
                     href="https://localhost:5001/Identity/Account/Register">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Register
            </NavLink>
        </NotAuthorized>    
    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
