@page "/"

<div>
    <p>Welcome to Spain Avanade's New Candidate quizzes.</p>
</div>

<AuthorizeView>
    <Authorized>
        <strong> Select a quiz to evaluate your level.</strong>
        <SelectQuiz />
    </Authorized>
    <NotAuthorized>
        <strong>Please, log in</strong>
    </NotAuthorized>
</AuthorizeView>
